In [3]:
import pandas as pd
df = pd.read_csv(r"D:\Data science file\weather_data.csv")
df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [4]:
print(df["temperature"].max())

40.0

In [5]:
df1 =df.fillna(0)

print(df1)

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          0.0        9.0   Sunny
2   1/5/2017         28.0        0.0    Snow
3   1/6/2017          0.0        7.0       0
4   1/7/2017         32.0        0.0    Rain
5   1/8/2017          0.0        0.0   Sunny
6   1/9/2017          0.0        0.0       0
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [17]:
a = pd.DataFrame({
    "city": ["Dehradun", "Pune"],
     "temperature" : ["54", "58"]
},)
b = pd.DataFrame({
   "city": ["Chicago", "WDC"],
   "temperature": ["54", "57"]
})
df = pd.concat([a,b], ignore_index= True)
df

       city temperature
0  Dehradun          54
1      Pune          58
2   Chicago          54
3       WDC          57