In [1]:
import pandas as pd
df = pd.read_csv("D:\python assignment\weather_data.csv")
df

<>:2: SyntaxWarning: invalid escape sequence '\p'
<>:2: SyntaxWarning: invalid escape sequence '\p'
C:\Users\DEV BANSAL\AppData\Local\Temp\ipykernel_34064\1014944670.py:2: SyntaxWarning: invalid escape sequence '\p'
  df = pd.read_csv("D:\python assignment\weather_data.csv")

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [2]:
df.sample(3)

         day  temperature  windspeed  event
8  1/11/2017         40.0       12.0  Sunny
6   1/9/2017          NaN        NaN    NaN
0   1/1/2017         32.0        6.0   Rain

In [3]:
df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [4]:
print(df.fillna(0))

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          0.0        9.0   Sunny
2   1/5/2017         28.0        0.0    Snow
3   1/6/2017          0.0        7.0       0
4   1/7/2017         32.0        0.0    Rain
5   1/8/2017          0.0        0.0   Sunny
6   1/9/2017          0.0        0.0       0
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [5]:
print(df.fillna(method="bfill"))

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017         28.0        9.0   Sunny
2   1/5/2017         28.0        7.0    Snow
3   1/6/2017         32.0        7.0    Rain
4   1/7/2017         32.0        8.1    Rain
5   1/8/2017         34.1        8.1   Sunny
6   1/9/2017         34.1        8.1  Cloudy
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

C:\Users\DEV BANSAL\AppData\Local\Temp\ipykernel_34064\2162010091.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method="bfill"))

In [6]:
df = df.fillna({
    "temperature": df.temperature.mean(),
    "windspeed": df.windspeed.median(),
    "event" : "sunny"
})
print(df)

         day  temperature  windspeed   event
0   1/1/2017        32.00        6.0    Rain
1   1/4/2017        33.22        9.0   Sunny
2   1/5/2017        28.00        8.1    Snow
3   1/6/2017        33.22        7.0   sunny
4   1/7/2017        32.00        8.1    Rain
5   1/8/2017        33.22        8.1   Sunny
6   1/9/2017        33.22        8.1   sunny
7  1/10/2017        34.10        8.1  Cloudy
8  1/11/2017        40.00       12.0   Sunny

In [7]:
print(df["temperature"].mean())

33.22

In [8]:
print(df.describe())

       temperature  windspeed
count     9.000000   9.000000
mean     33.220000   8.277778
std       3.101774   1.633843
min      28.000000   6.000000
25%      32.000000   8.100000
50%      33.220000   8.100000
75%      33.220000   8.100000
max      40.000000  12.000000

In [9]:
a = pd.DataFrame({
    "city" : ["Dehradun", "Patna"],
    "temperature": ["35", "40"]

})
b = pd.DataFrame({
    "city" : ["Nyc", "Chicago"],
    "temperature": ["50", "45"]
})
df1 = pd.concat([a,b], ignore_index= True)
df1

       city temperature
0  Dehradun          35
1     Patna          40
2       Nyc          50
3   Chicago          45

In [10]:
df_movies = pd.read_excel("D:\python assignment\movies_db.xlsx", "movies")
df_financials = pd.read_excel("D:\python assignment\movies_db.xlsx", "financials")
df2 = pd.merge(df_movies,df_financials, on = "movie_id")
df2.to_csv("xyz.csv")

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:2: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:2: SyntaxWarning: invalid escape sequence '\p'
C:\Users\DEV BANSAL\AppData\Local\Temp\ipykernel_34064\2083537384.py:1: SyntaxWarning: invalid escape sequence '\p'
  df_movies = pd.read_excel("D:\python assignment\movies_db.xlsx", "movies")
C:\Users\DEV BANSAL\AppData\Local\Temp\ipykernel_34064\2083537384.py:2: SyntaxWarning: invalid escape sequence '\p'
  df_financials = pd.read_excel("D:\python assignment\movies_db.xlsx", "financials")